


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据操作</div>
                <div class="layui-card-body">
                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                        <button class="layui-btn" data-type="add">增加</button>
                        <button class="layui-btn" data-type="delete">删除</button> 
                    </div>

                    <table class="layui-hide" id="tree-table-column" lay-filter="test-table-operate"></table> 
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['table', 'layer', 'form'], function () {
        var $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            table = layui.table;
        var tab1 = table.render({
            elem: '#tree-table-column',
            url: "/SystemManage/Module/GetModuelColumnListJson",   
            cols: [
                { key: 'name', title: '名称', width: '100px', },
                { key: 'code', title: '编码', width: '100px', },
                { key: 'url_address', title: '导航地址', width: '100px', },
                { key: 'target', title: '导航目标', width: '100px', align: '', }, 
            ]
        });
         
    var $ = layui.$, active = {
        add: function () { //获取选中数据
            debugger;
        var checkStatus = table.checkStatus('tree-table-column')
        ,data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      }
      ,delete: function(){ //获取选中数目
        var checkStatus = table.checkStatus('tree-table-column')
        ,data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      } 
    };
    
    $('.test-table-operate-btn .layui-btn').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  

        

    })
</script>


