

<div class="layui-fluid">
    <div class="layui-card"> 
        <div class="layui-card-body"> 
            <table class="layui-table layui-form" id="tree-table-button"   lay-size="sm"></table>

        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['table'], function () {
        var  table = layui.table;
        table.render({
            elem: '#tree-table-button',
            url:"/Enum/GetListJson?enumName=PageButtonEnum", 
            cols: [[
                 {type:'checkbox'},
                { field: 'id',  hide: true},
                { field: 'code',  title: '编码',  width: 100},
                { field: 'name', title: '名称'}, 
            ]],
            parseData: function (res) { //res 即为原始返回的数据
                
                return {
                    "code": res.code===200?0:res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本 
                    "data": res.data //解析数据列表
                };
            }
        });
    })
</script>


