
@{
    ViewBag.Title = "系统按钮";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="layui-fluid">
    <div class="layui-card"> 
        <div class="layui-card-body"> 
            <table class="layui-table layui-form" id="tree-table-button"   lay-size="sm"></table>

        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['table'], function () {
        var  table = layui.table;
        table.render({
            elem: '#tree-table-button',
            url:"/Enum/GetListJson?enumName=PageButtonEnum", 
            cols: [
                {type:'checkbox'},
                { key: 'text',  title: '编码',  width: '100px',},
                { key: 'desction', title: '名称',  width: '100px', },
                { key: 'value',title: '排序码',width: '100px',},  
            ]
        });
          
       
    })
</script>


